body {
  margin: 0;
  /* removes white border around website*/
  padding: 0;
  text-align: center;
}

img {
  max-width: 100%;
}

Link,
a {
  text-decoration: none;
  color: black;
}

button {
  background-color: white;
  border: none;
}

/*Nav Bar*/
.navbar-menu {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  /*border-bottom: double;*/
  border-bottom: 1px double black;
  margin-top: 0;
  margin-bottom: 1.4rem;
}

.navbar-menu>a,
.navbar-menu>Link {
  text-align: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-decoration: none;
  color: black;
}

.hover-effect:hover {
  background-color: #f4ce14;
  transition: 0.25s;
}

.nav-image {
  max-height: 3.5rem;
  margin-top: 0.7rem;
  margin-left: -1.25rem;
}

/*Home*/

.home-header {
  background-color: rgb(2, 60, 115);

  color: white;
  padding: 5rem 5rem 6rem 5rem;
  margin-top: -1.4rem;
  text-align: center;
}

.home-header>h1 {
  font-size: 3rem;
  margin-top: 0rem;
}

.home-btn {
  background-color: #f4ce14;
  padding: 0.5rem 1rem;
  margin: 0rem 1rem;
  border-radius: 0.2rem;
  font-size: 2rem;
  text-decoration: none;
  color: black;
}

.home-btn:hover {
  background-color: rgb(2, 60, 115);
  border-style: solid;
  border-width: 1px;
  border-color: #edefee;
  color: white;
  transition: 0.2s;
}

.tab-button {
  color: white;
  height: 4.5rem;
  width: 10rem;
  background-color: #263238;
  font-size: 1.2rem;
}

.tab-button:focus,
.tab-button:hover {
  background: #37474F;
  cursor: pointer;
}

.tab-button.active {
  background: #0091EA;
}

.model-space {
  display: block;
  background-color: #f4ce14;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin: 0rem 1rem 0rem 1rem;
  border-radius: 0.2rem;
  font-size: 1.5rem;
  width: 23rem;
  text-align: center;
}

.model-img {
  border-style: solid;
  height: 10rem;
}

.home-main {
  display: inline;
}

.tab {
  display: flex;
  height: 20rem;

}

.tab-bar-container {
  display: flex;
  flex-direction: column;
  margin-left: 0;

}

.button-container {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

/*---------------------*/

/*footer*/

footer {
  min-height: 10rem;
  background-color: grey;
  color: #ffffff;
  display: flex;
  margin-top: 1rem;
}

footer p {
  margin-top: 2rem;
  margin-left: 7rem;
  text-align: left;
}

/*------------------------*/

/*header*/
.header-upper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 2rem 0 2rem;
}

.header-blank {
  width: 70%
}

.header-logout-btn {
  width: auto;
  border-style: none;
  background-color: white;
  box-shadow: 1px 1px 1px 1px;
  font-weight: bold;
}

.header-logout-btn:hover {
  cursor: pointer;
}

.header-std {
  width: 10%;
  text-align: center;
}

.header-std>p {
  margin: 0;
}

header>h1 {
  font-weight: 600;
  text-align: center;
  color: rgb(40, 44, 97);
  margin : 0%;
  margin-bottom : 1%;
}

/*--------------------------*/

/*P0101 main*/

main {
  margin-bottom: 2rem;
}

.main-blue {
  background-color: rgb(218, 227, 243);
  margin: 2rem 10rem 1rem 10rem;
  border-radius: 15px;
  padding: 0.1px;
}

.main-manual {
  display: flex;
  justify-content: flex-end;
  padding-right: 10rem;
}

.main-manual>button {
  background-color: rgb(68, 68, 68);
  color: white;
  padding: 5px 20px 5px 20px;
}

.main-manual>button:hover {
  cursor: pointer;
}

.main-card {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.card {
  width: 18rem;
  height: 20rem;
  border-style: solid;
  border-color: grey;
  border-radius: 50px;
  border-width: 1px;
  margin: 1rem;
  font-weight: bold;

  >button {
    color: rgb(0, 112, 192);
    border-style: solid;
    border-color: rgb(0, 112, 192);
    background-color: white;
    border-radius: 5px;
    border-width: 1px;
    width: 5rem;
    height: 1.5rem;
    margin-right: 8rem;
    margin-top: 20px;
  }

  >img {
    margin-top: 2rem;
  }
}

.main-btn {
  margin: 2rem 0rem;
}

/*-----------------------------*/

/*p0102*/


.calendar-space {
  display: flex;
  justify-content: center;
}
.calendar-space-left{
  width: 20%;
}
.calendar-space-right{
  width: 40%;
}

/*요소별 체크박스*/
.calendar-check-compo {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.checkbox-label {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.checkbox-name {
  background-color: #ffe699;
  width: 80%;
  padding-top: 3px;
  border-radius: 5px;
  margin: 0rem 1rem;
}

.checkbox-input {
  display: none;
}

.checkbox-custom {
  position: relative;
  width: 50px;
  height: 30px;
  border: 2px solid #ffe699;
  border-radius: 5px;
  cursor: pointer;
}

.checkbox-custom::after {
  content: '✔';
  position: relative;
  display: none;
  font-weight: bold;
}

.checkbox-input:checked+.checkbox-custom::after {
  display: block;
  width: 8px;
  height: 8px;
  top: 10%;
  left: 45%;
  transform: translate(-50%, -50%);
}


/*달력*/

.calender {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border: solid 1px #6db4f2;
  width: 90%;
}


.num {
  display: grid;
  grid-template-columns:1fr 1fr;
  border-top: solid 1px #6db4f2;
  min-height: 6rem;
  font-size: 0.9rem;
}

.blank{

  grid-column: 1 / 5;
	grid-row: 2 / 3;
  border-top: solid 1px #6db4f2;
}

.num-ele{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.num-ele > img{
  margin: 20% 0%;
  width: 2rem;
}


.num-span > p{
  font-size: 1px;
}





/*------------------------*/


/*button component*/
.bluebtn {
  background-color: rgb(0, 112, 192);
  border-radius: 7px;
  font-size: 1rem;
  margin: 0.5rem;
  padding: 0.5rem;
  text-decoration: none;
  color: white;
}

.greybtn {
  background-color: rgb(242, 242, 242);
  text-decoration: none;
  border-radius: 7px;
  margin: 0.5rem;
  padding: 0.5rem;
  text-decoration: none;
  color: grey;
}

/*-------------------*/

/*p0103*/
.model-check {
  display: flex;
  justify-content: center;
  border-style: solid;
  border-width: 1px;
  margin: 1% 25%;
}

.check-btn {
  margin: 0.5rem 2rem;
}

.model-check-space {
  display: flex;
  justify-content: center;
  margin: 1rem;
  height: 20rem;
}

/*-----------------------------*/

/*p0104*/

.p0104-main{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.board-wrap{
  position: relative;
}
.board-img{
  width: 100%;
  vertical-align: middle;
}
.board-text{
  position: absolute;
  top:40%;
  left: 50%;
  width: 80%;
  height: 70%;
  transform: translate(-50%, -50%);
}


.green-board{
  color: white;
  white-space: pre;
  text-align: left;
}

/*---------------------*/

.calendar-space2{
  display: flex;
  justify-content: center;
  width: 70%;
  margin: 1% 15%;
}

.num2 {
  border-top: solid 1px #6db4f2;
  min-height: 6rem;
  font-size: 0.9rem;
}

.num2:hover{
  cursor: pointer;
}


