/*p0202*/
.label-space {
    display: flex;
    justify-content: center;

}

.label-space>div {
    margin: 1rem;
    width: 22rem;
    transition: all 0.3s ease;
}

.label-space>div:hover {
    cursor: pointer;
    opacity: 50%;
}


.selected img {
    cursor: pointer;
    opacity: 30%;
    border: solid 3px grey;
}

.modal {
    color: #363636;
    background-color: white;
    border: solid grey;
    border-radius: 10px;
    padding: 20px;
    width: 30%;
    height: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal button {
    border: solid 1px;
    width: 80px;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    font-size: 15px;
    background-color: #cfcfcf;
}

/*------------------------*/


/*p0206*/


.p0206-grid-space {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    background-color: rgb(218, 227, 243);
    border-radius: 50px;
    padding: 1.5%;
    margin: 1% 32%;
}

.p0206-grid-item>img {
    width: 80%;
    height: 100%;

    border: solid 2px white;
}

.p0206-grid-item>img:hover {
    cursor: pointer;
    opacity: 70%;
}

.p0206-modal {
    background-color: rgb(218, 227, 243);
    border-radius: 50px;
    padding: 2% 2% 0% 2%;
    margin: -1.5% 32%;
    width: 32%;
    position: absolute;
    left: 0%;

}

.p0206-modal-content {
    width: 80%;
    margin: 0% 10%;
}

.modal-img {
    width: 80%;
    margin-bottom: 2%;
}

.detection-img {
    width: 56.9%;
    position: absolute;
    left: 21.6%;
    z-index: 1;
}

#p0206-modal-blank{
    margin-bottom: 5%;
}
#p0206-modal-blank > img{
    margin-bottom: 5%;
}

.p0206-modal-btn button {
    width: 26%;
    margin: 2% 3% 2% 3%;
    padding: 5px;
    background-color: #abc9ff;
    color: #325da8;
    font-weight: bold;
    border-radius: 5px;
}

.p0206-modal-btn>button:hover {
    cursor: pointer;
    opacity: 50%;
}

/*------------------*/

/*p0220*/

.p0220-main{
    margin: 10% 0%;
}